<section class="_flex section">
    <div class="_flex section__banner">
        <img src="./public/images/image.svg" alt="">
        <div class="_flex banner__content">
            <div class="_flex content__top">
                <p class="p-top">Visual Designer
                    Webflow Developer</p>
                <h1 class="h1">Hello, I’m
                    Howard Stark.</h1>
            </div>
            <p class="p-middle">Hello, I'm a passionate Visual Designer, Webflow Developer and part time
                freelancer with
                a keen eye for details.</p>
            <div class="_flex" style="
                    --flex-direction: row;
                    gap: 10px;
                    ">
                <div class="_flex button" style="
         --flex-direction: row;
         --background-color: var(--primary-500);
         --border-radius: 4.0;
         --outline: none;
        ">
                    <p style="
            --color: white;
            ">Say hello</p>
                </div>
                <div class="_flex button" style="
         --flex-direction: row;
         --background-color: var(--gray-50);
         --border-radius: 4.0;
         --outline: none;
        ">
                    <p style="
            --color: var(--gray-900);
            ">View portfolio</p>
                    <i class="ph ph-arrow-up-right" style="
            --icon-background-color: #fff;
            --icon-color: var(--gray-900);
            "></i>
                </div>
            </div>
        </div>
    </div>
</section>