.container {
    width: 100%;
    height: auto;
    padding: 100px 0 0 0;
    border: 0;

    --flex-direction: column;

    /* margin: 0 auto; */
}

.section {
    width: 80%;
    padding: 80px 0;
    --flex-direction: column;
}

.section__info {
    width: 100%;
    gap: 20px;

    --flex-direction: row;
}

.info__left {
    width: 30%;
    gap: 20px;

    --flex-direction: column;
    --align-items: start;
    --justify-content: start;
}

.info__left .h1{
    width: 80%;
}

.info__left .flow {
    --flex-direction: row;
    --align-items: center;
    --justify-content: center;
    gap: 15px;
}

.flow .p{
    font-weight: 600;
}

.flow .icon{
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: var(--gray-white);
    color: var(--primary-800);
    outline: 1px solid var(--primary-300);
    border-radius: 50%;

    --flex-direction: row;
    --align-items: center;
    --justify-content: center;
}

.info__right {
    width: 30%;
    gap: 30px;

    --flex-direction: column;
    --align-items: start;
    --justify-content: start;
}

.section__study{
    width: 100%;
    padding: 100px 0;
    --flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: #fff;
}

.content__middle {
    width: 60%;
    height: 60vh;
    border-radius: 4.0px;
    padding: 20px 10px;

    --flex-direction: column;
    gap: 20px;
    position: relative;
}

.icon-left {
    position: absolute;
    left: -50px;
    width: 20px;
    height: 20px;
    background-color: var(--gray-white);
    color: var(--primary-500);
    border-radius: 50%;
    padding: 10px;
    outline: 1px solid var(--primary-500);
    cursor: pointer;
}

.icon-left:hover{
    background-color: var(--primary-500);
    color: var(--gray-white);
}

.icon-right{
    position: absolute;
    right: -50px;
    width: 20px;
    height: 20px;
    background-color: var(--primary-500);
    color: var(--gray-white);
    border-radius: 50%;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.icon-right:hover{
    background-color: var(--primary-600);
    color: var(--gray-white);
}

.section__project {
    width: 100%;
    padding: 100px 0;
    --flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: #fff;
}

.section__project .h1{
    font-size: 32;
    font-weight: 600;
    color: black;
}

.project__group {
    width: 60%;

    --flex-direction: row;
    --align-items: center; 
    --justify-content: center;
    gap: 10px;
}

.project__card{
    width: 30%;
    height: auto;
    padding: 15px 10px;

    --flex-direction: column;
    --align-items: start; 
    --justify-content: start;
}

.project__card img{
    width: 100%;
    height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
    .section__study{
    width: 60%;
    padding: 100px 0;
    --flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: #fff;
    }

    .content__middle {
        width: 100%;
        height: 40vh;
        border-radius: 4.0px;
        padding: 20px 10px;

        --flex-direction: column;
        gap: 20px;
        position: relative;
    }

}