.container {
    width: 100%;
    height: auto;
    padding: 100px 0 0 0;
    border: 0;

    --flex-direction: column;

    /* margin: 0 auto; */
}

.study__category {
    width: 80%;

    --flex-direction: row;
    --align-items: center;
    --justify-content: space-between;
}

.study__category .h1{
    font-size: 32px;
}

.study__category .cate{
    width: 30%;
    --flex-direction: row;
    --align-items: center;
    --justify-content: space-between;
    gap: 10px;
}

.study__category .cate .p{
    padding: 5px;
    background-color: var(--gray-white);
    color: var(--gray-400);
    font-weight: 800;
}

.study__category .cate .p:hover{
    padding: 5px;
    background-color: var(--gray-50);
    color: var(--gray-900);
    font-weight: 800;
    cursor: pointer;
    border-radius: 4.0px;
}

.study__group {
    width: 80%;
    --display: grid;
    --flex-direction: row;
    --align-items: center;
    --justify-content: center;
    gap: 15px;
    padding: 20px 10px;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

.study__item{
    width: 100%;
    height: 60vh;
    margin: 15px;
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media (max-width: 768px) {
}

@media (max-width: 480px) {

}